# Database configuration
DATABASE_URL=mysql://root:12345@localhost:3306/ride_sharing_db

# App configuration
PORT=3000
JWT_SECRET=b84027d807ac24e986f2ef826f7af6f226d86fcd6268ee2a8f721d6fc8c52e62

# Optional: WebSocket config
WS_URL=ws://localhost:3000/ws
